.contact {
  margin-top: 58px;
  margin-bottom: 148px;
  @include tablet {
    margin-bottom: 100px;
  }
  .contact-form {
    .contact-form-heading {
      margin-top: 52px;
      margin-bottom: 25px;
      p,
      span {
        font-weight: $font-light;
        font-size: 14px;
      }
      p {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mobile {
          display: block;
        }
      }
    }
    .contact-form-submit {
      margin-top: 50px;
    }
  }
}

.address {
  margin-bottom: 148px;
  @include tablet {
    margin-bottom: 100px;
  }
  @include mobile {
    margin-bottom: 50px;
  }
  .address-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include landscape-phone {
      flex-direction: column-reverse;
    }
  }
  .address-info {
    max-width: 362px;
    .address-info-item {
      margin-bottom: 30px;
      @include tablet {
        margin-bottom: 20px;
      }
      h5 {
        font-size: 14px;
        font-weight: $font-semibold;
        margin-bottom: 5px;
      }
      a {
        text-decoration: underline;
      }
      p,
      a {
        font-size: 16px;
        font-weight: $font-light;
      }
    }
  }
  .address-frame {
    width: 50%;
    aspect-ratio: 580 / 315;
    @include tablet {
      aspect-ratio: 580 / 450;
    }
    @include landscape-phone {
      width: 100%;
      aspect-ratio: 580 / 315;
      margin-bottom: 30px;
    }
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
