/*------------------------------------------------------------------
COLOR: GREEN
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]

1. Main Styles
2. Top Bar
-------------------------------------------------------------------*/


/* @group 1. Main Styles */

::selection {
    background: #2368cf; /* WebKit/Blink Browsers */
    color: #fff;
}

::-moz-selection {
    background: #2368cf; /* Gecko Browsers */
    color: #fff;
}

.logo-svg {
    fill: #2368cf;
}

a:hover {
    color: #01b9c3;
}

.le-color {
    color: #2368cf
}

.button,
.le-button,
.btn {
    background: #2368CF;
}

    .button:hover,
    .le-button:hover,
    .btn:hover {
        background: #60c011;
    }

.dropdown .dropdown-menu {
    border-top-color: #2368cf;
}

.btn-add-to-wishlist:hover,
.btn-add-to-wishlist:hover i,
.btn-add-to-compare:hover,
.btn-add-to-compare:hover i {
    color: #2368cf;
}

/* @end */


/* @group 2. Top bar */

#top-bar .top-links li a:hover {
    color: #2368cf
}

ul.megamenu li .product .name a:hover {
    color: #2368cf;
}


#top-bar-right .dropdown-menu {
    border-top-color: #2368cf;
}

#top .contact-row i {
    color: #2368cf;
}

.search_form .button-search,
.search_form .button-search2 {
    background-color: #126901;
    border-radius: 0 10px 10px 0;
}

#top .top-cart-row-container .wishlist-compare-holder a:hover,
#top .top-cart-row-container .wishlist-compare-holder a:hover i {
    color: #2368cf;
}

#top #cart_block .cart-heading .basket-item-count .count {
    background-color: #2368cf;
}

#top #cart_block .cart-heading .total-price {
    color: #2368cf;
}

#main #top #cart_block.open > .dropdown-menu {
    border-top-color: #2368cf
}

.mini-cart-info .price {
    color: #2368cf;
}

/* @end */

/* @group 3. MegaMenu */
.megamenu-wrapper {
    background: #126901;
	/*background: #800080;*/
}

.megamenuToogle-wrapper {
    background: #2368cf;
    border-bottom-color: #8BC53F;
}

    .megamenuToogle-wrapper .container > div {
        background-color: #8BC53F;
        border-color: #42830c;
    }

.megamenu-wrapper ul.megamenu > li {
    border-right-color: #8BC53F;
}

ul.megamenu > li > a:hover, ul.megamenu > li.active > a, ul.megamenu > li:hover > a, ul.megamenu > li > a.active {
    background: #fff !important;
    color: #000;
}


ul.megamenu li .sub-menu .content .static-menu a.main-menu {
    color: #54a90f;
}

ul.megamenu > li > .sub-menu > .content > .arrow:after {
    border-bottom-color: #54a90f;
}

ul.megamenu li .sub-menu .content {
    border-top-color: #54a90f;
}

.vertical ul.megamenu > li:hover > a,
.vertical ul.megamenu > li.active > a {
    border-color: #54a90f;
}

@media (max-width: 991px) {

    .responsive .megamenu-wrapper {
        background: #126901;
    }

    .responsive ul.megamenu > li:hover,
    .responsive ul.megamenu > li.active {
        background: #54a90f;
    }
}

/* @end */


/* @group 3. RevolutionSlider */
.tp-bullets.simplebullets.round .bullet:hover,
.tp-bullets.simplebullets.round .bullet.selected {
    background-color: #2368cf;
}
/* @end */

.camera_wrap .owl-controls .owl-pagination .active span {
    background: #2368cf;
}

/* @group 4. ProductFilter */
.filter-product .filter-tabs ul > li.active > a,
.filter-product .filter-tabs ul > li.active > a:hover,
.filter-product .filter-tabs ul > li.active > a:focus {
    background-color: #2368cf;
}

.product-grid .product .name a:hover {
    color: #01b9c3;
}

.product-grid .product .only-hover ul li a:hover,
.product-grid .product .only-hover ul li a:hover:before {
    color: #2368cf;
}

.products-carousel-overflow > .prev:hover span:before,
.products-carousel-overflow > .next:hover span:before {
    color: #2368cf;
}


.box > .prev:hover span:before,
.box > .next:hover span:before {
    color: #2368cf;
}

.tab-content .prev-button:hover span:before,
.tab-content .next-button:hover span:before {
    color: #2368cf;
}

/* @end */

.advanced-grid-products .product .name a:hover {
    color: #2368cf
}

.col-sm-3 .products .advanced-grid-products .product .name a:hover,
.col-sm-4 .products .advanced-grid-products .product .name a:hover,
.col-md-3 .products .advanced-grid-products .product .name a:hover,
.col-md-4 .products .advanced-grid-products .product .name a:hover {
    color: #2368cf
}

.col-sm-3 .products .row > div .product .name a:hover,
.col-sm-4 .products .row > div .product .name a:hover,
.col-md-3 .products .row > div .product .name a:hover,
.col-md-4 .products .row > div .product .name a:hover {
    color: #01b9c3;
}

.product-info .links a:hover,
.product-info .links a:hover i {
    color: #2368cf;
}

.product-info .cart .add-to-cart .quantity #q_up:hover,
.product-info .cart .add-to-cart .quantity #q_down:hover {
    color: #2368cf;
}

.carousel-brands .owl-prev:hover,
.carousel-brands .owl-next:hover {
    color: #2368cf
}

.box-product .owl-pagination > div.active,
.box-product .owl-pagination > div:hover {
    background: #2368cf;
}

.product-grid .product:hover .image .quickview a,
.product-list .row:hover .quickview a {
    background: #2368cf;
}

    .product-grid .product:hover .image .quickview a:hover,
    .product-list .row:hover .quickview a:hover {
        background: #60c011;
    }

div.pagination-results ul li:hover a,
div.pagination-results ul li:hover span,
div.pagination-results ul li.active a,
div.pagination-results ul li.active span {
    color: #2368cf;
    border-color: #2368cf;
}

.product-filter .options .button-group button:hover,
.product-filter .options .button-group .active {
    color: #2368cf;
}

.htabs a.selected {
    background: #2368cf;
}

.center-column .tab-content .meta-row span a {
    color: #2368cf;
}


ul.contact-us li span {
    color: #2368cf;
}

.center-column .list-unstyled li:before {
    color: #2368cf;
}

.custom-footer h4 i {
    color: #2368cf
}

.footer h4 {
    color: #2368cf
}

.footer ul li a:hover {
    color: #2368cf
}


.footer .contact-info .social-icons li a:hover {
    background-color: #2368cf;
}

/* ElevateZoom */
.zoomTint {
    background-color: #2368cf !important;
}

/* Mega Filter */
.mfilter-heading-content {
    color: #2368cf;
}

.mfilter-slider-slider .ui-slider-handle,
#mfilter-price-slider .ui-slider-handle {
    color: #2368cf !important;
}

.mfilter-slider-slider .ui-slider-range,
#mfilter-price-slider .ui-slider-range {
    background: #2368cf !important;
}


/* iCheck */
.icheckbox.checked:before,
.iradio.checked:before {
    background-color: #2368cf;
    border-color: #2368cf;
}

/* REvSlider */

.tp-leftarrow.default:hover,
.tp-rightarrow.default:hover {
    color: #2368cf;
}

/* Contact our store */
.information-contact .our-store a {
    color: #2368cf;
}

.camera_wrap:hover .owl-controls .owl-buttons .owl-prev:hover:before,
.camera_wrap:hover .owl-controls .owl-buttons .owl-next:hover:before {
    color: #2368cf;
}

/* Blog */
.post .date-published {
    background: #2368cf;
}

.post .meta > li a:hover {
    color: #2368cf;
}

.posts + .pagination li.active a,
.posts + .pagination li.active span,
.posts + .pagination li:hover a,
.posts + .pagination li:hover span {
    color: #2368cf;
    border-color: #2368cf;
}

.posts .pagination-ajax .load-more:hover {
    color: #2368cf;
}


.post .post-media .media-slider:hover .owl-next:hover,
.post .post-media .media-slider:hover .owl-prev:hover {
    color: #2368cf;
}

.post .post-media .media-slider:hover .owl-page.active span,
.post .post-media .media-slider:hover .owl-page:hover span {
    background: #2368cf;
}

.post .meta-row span a {
    color: #2368cf
}

.post .blog-post-author .media .media-heading:hover a {
    color: #2368cf
}

.post .comments-list .author .name {
    color: #2368cf
}

.blog-categories .box-category ul li a:hover {
    color: #2368cf
}

.blog-popular-posts .media a:hover h5,
.blog-related-posts .media a:hover h5,
.blog-product-related-posts .media a:hover h5,
.blog-latest-posts .media a:hover h5 {
    color: #2368cf
}

.news.v1 .media-body .date-published {
    color: #2368cf
}

.blog-tags .tagcloud a:hover {
    color: #2368cf
}

.product-grid-template .product-grid .product.product-img-slider .owl-carousel .owl-item .item.active {
    border-bottom-color: #2368cf;
}

.advanced-grid-latest-blogs .news .article-date-added i {
    color: #2368cf;
}

body .popup-module .mfp-close {
    background: #2368cf;
}

body .popup-module .newsletter-discount {
    color: #2368cf
}

.popup h4 {
    color: #2368cf
}

.category-wall .name a {
    color: #2368cf
}

body .mfp-image-holder .mfp-close,
body .mfp-iframe-holder .mfp-close {
    background: #2368cf
}
